:root {
  --thickness: 5px;
  --handcolor: rgb(46, 46, 46);
}
.clock {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 5px 10px 1px rgb(209, 209, 209);
}

.clock-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 2px rgb(235, 235, 235) solid;
  border-right: 1px rgb(241, 241, 241) solid;
  height: 90%;
  width: 90%;
  border-radius: 50%;
}

.minute-hand {
  transition: 2s linear;
  position: absolute;
  right: 50%;
  transform: translate(50%) rotate(0deg);
  transform-origin: bottom center;
  height: 50%;
  width: var(--thickness);
  background-color: var(--handcolor);
}

.hour-hand {
  transition: 2s linear;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -100%) rotate(0deg);
  transform-origin: bottom center;
  height: 42%;
  width: var(--thickness);
  background-color: var(--handcolor);
}

.pin {
  position: absolute;
  border-radius: 50%;
  height: var(--thickness);
  width: var(--thickness);
  background-color: var(--handcolor);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wall {
  position: fixed;
  top: -3%;
  left: -3%;
  white-space: nowrap;
}
